// 这里定义全局样式

// 底层背景色
$deepBackgroundColor: rgba(128, 128, 128, 0.02);

// 全局字体
$globalFontFamily: KaiTi, serif;
// 全局字体颜色
$globalFontFamily: #abb2bf;

// 按钮渐变色
$globalButtonColor: linear-gradient(to right, #bc95c6 0%, #7dc4cc 100%);
